
body{
    text-align: center;
    background-image: url('https://st2.depositphotos.com/2515395/7045/i/600/depositphotos_70458777-stock-photo-flame-fire-empty-hot-barbecue.jpg');
    background-attachment: fixed;
  
}

h1{
    font: bold #cccccc;
}


img{
    width: 400px;
}

a{
    color: lawngreen;
}

#thirdDiv{
    height: 500px;
    width: 600px;   
    background-color:rgb(145, 11, 11);
    padding: 50px;
    border: 9px solid rgb(218, 54, 32);
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto  ;
   
}

#spainId{
    font-size: 18px;
    margin: 50px; 
}

.divClass{
    background: linear-gradient(45deg, rgb(170, 9, 9),rgb(0, 0, 0));
    width:600px;

    color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

